<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="contact contact-new">
      <h2>당신의 성별은?</h2>
      <form class="contact-form" action="/contacts" method="post">
        
          <div>
            <input type="radio" id="gender"  name="gender" value="Male"/><span style="font-size: xx-large;">🤦‍♂️</span>
            <input type="radio" id="gender"  name="gender" value="Female"/><span style="font-size: xx-large;">🤦‍♀️</span>
          </div>
          <h2>당신이 좋아하는 동물은?</h2>    
          <div>
            <input type="radio" id="animal"  name="animal" value="Tiger"/><span style="font-size: xx-large;">🐈</span>
            <input type="radio" id="animal"  name="animal" value="Elephant"/><span style="font-size: xx-large;">🐘</span>
          </div>

          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
